{% extends "base.html" %}

{% block content %}

<div class="login-wrapper">
    <div class="login-card">

        <div class="logo-box">
            <img src="{{ url_for('static', filename='upload/logo.png') }}" alt="Logo Parvati Estetica" class="logo-img">
        </div>

        <h2>Bem-vinda</h2>
        <p>Acesse o sistema da Parvati Estetica</p>

        <form method="POST">

            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Digite seu email" required>
            </div>

            <div>
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
            </div>

            <button type="submit">Entrar</button>

        </form>

    </div>
</div>

{% endblock %}
