{% extends "base.html" %}

{% block content %}

<h2>Novo Cliente</h2>

<form method="POST">

    <label>Nome</label>
    <input type="text" name="nome" required>

    <label>Telefone</label>
    <input type="text" name="telefone" required>

    <label>Email</label>
    <input type="email" name="email">

    <label>Observação</label>
    <textarea name="observacao"></textarea>

    <label>Data de Nascimento</label>
    <input type="date" name="nascimento">


    <button type="submit">Salvar</button>

</form>

{% endblock %}
